# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

DATABASE_URL="your_database_url_here"

AUTH_GITHUB_ID="your_github_oauth_app_client_id"
AUTH_GITHUB_SECRET="your_github_oauth_app_client_secret"

AUTH_GOOGLE_ID="your_google_oauth_client_id"
AUTH_GOOGLE_SECRET="your_google_oauth_client_secret"

AUTH_SECRET="a_random_32_byte_hex_string_generate_with_openssl_rand_base64_32"
